page-login {
    .login-input-lables{
        font-weight: bold;
    }
    .login-input-textfields{
        background-color: rgba(255, 196, 194, 0.25);
    }
    
    .login-gps-location{
        text-align:center;
    }
}
